@font-face {
    font-family: "flaticon";
    src: url("/fonts/flaticon.ttf?3cf42c4750c07729ccc1bf3292240508") format("truetype"),
url("/fonts/flaticon.woff?3cf42c4750c07729ccc1bf3292240508") format("woff"),
url("/fonts/flaticon.woff2?3cf42c4750c07729ccc1bf3292240508") format("woff2"),
url("/fonts/flaticon.eot?3cf42c4750c07729ccc1bf3292240508#iefix") format("embedded-opentype"),
url("/fonts/flaticon.svg?3cf42c4750c07729ccc1bf3292240508#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-right-arrow:before {
    content: "\f101";
}
.flaticon-next:before {
    content: "\f102";
}
.flaticon-left-arrow:before {
    content: "\f103";
}
.flaticon-right-arrow-1:before {
    content: "\f104";
}
.flaticon-left-arrow-1:before {
    content: "\f105";
}
.flaticon-search-interface-symbol:before {
    content: "\f106";
}
.flaticon-loupe:before {
    content: "\f107";
}
.flaticon-loupe-1:before {
    content: "\f108";
}
.flaticon-quote:before {
    content: "\f109";
}
.flaticon-quote-1:before {
    content: "\f10a";
}
.flaticon-right-quote-sign:before {
    content: "\f10b";
}
.flaticon-left-quote:before {
    content: "\f10c";
}
.flaticon-down-arrow:before {
    content: "\f10d";
}
.flaticon-down-arrow-1:before {
    content: "\f10e";
}
.flaticon-down-arrow-2:before {
    content: "\f10f";
}
.flaticon-plus:before {
    content: "\f110";
}
.flaticon-add:before {
    content: "\f111";
}
.flaticon-add-1:before {
    content: "\f112";
}
.flaticon-remove:before {
    content: "\f113";
}
.flaticon-minus:before {
    content: "\f114";
}
.flaticon-minus-sign:before {
    content: "\f115";
}
.flaticon-menu:before {
    content: "\f116";
}
.flaticon-eye:before {
    content: "\f117";
}
.flaticon-visibility:before {
    content: "\f118";
}
.flaticon-clock:before {
    content: "\f119";
}
.flaticon-wall-clock:before {
    content: "\f11a";
}
.flaticon-wall-clock-1:before {
    content: "\f11b";
}
.flaticon-user:before {
    content: "\f11c";
}
.flaticon-user-1:before {
    content: "\f11d";
}
.flaticon-user-2:before {
    content: "\f11e";
}
.flaticon-pinterest:before {
    content: "\f11f";
}
.flaticon-facebook-app-symbol:before {
    content: "\f120";
}
.flaticon-facebook:before {
    content: "\f121";
}
.flaticon-youtube-2:before {
    content: "\f122";
}
.flaticon-youtube-symbol:before {
    content: "\f123";
}
.flaticon-skype:before {
    content: "\f124";
}
.flaticon-skype-2:before {
    content: "\f125";
}
.flaticon-instagram:before {
    content: "\f126";
}
.flaticon-instagram-1:before {
    content: "\f127";
}
.flaticon-instagram-2:before {
    content: "\f128";
}
.flaticon-linkedin:before {
    content: "\f129";
}
.flaticon-linkedin-1:before {
    content: "\f12a";
}
.flaticon-linkedin-2:before {
    content: "\f12b";
}
.flaticon-twitter:before {
    content: "\f12c";
}
.flaticon-twitter-1:before {
    content: "\f12d";
}
.flaticon-play:before {
    content: "\f12e";
}
.flaticon-play-button-arrowhead:before {
    content: "\f12f";
}
